<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudyBud</title>
  </head>
  <body>
    <!-- Template includes  -->
    {% include 'navbar.html' %}

    <!-- The block of content that will be specified in each element -->
    {% block content%}

    <!-- The end of the block content -->
    {% endblock %}

    <!-- Template includes  -->
    {% include 'footer.html' %}
  </body>
</html>
