<!-- Template is the main.html -->
{% extends 'main.html' %}

<!-- Starting the block content, which will be rendered by the template -->
{% block content %}

<h1>Home template</h1>

<div>
  <h2>Rooms</h2>
  <!-- Create room -->
  <a href="{% url 'create-room' %}">Create room</a>

  <ul>
    <!-- Loop through the data -->
    {% for room in rooms %}
    <li>
      <span>@{{room.host}}</span>
      <a href="{% url 'room' room.id %}">{{ room.name }}</a>
      <a href="{% url 'update-room' room.id %}">Edit</a>
      <a href="{% url 'delete-room' room.id %}">Delete</a>
      <p>{{ room.description }}</p>
      <small>{{room.topic}}</small>
      <hr />
    </li>
    <!-- close if/for statements -->
    {% endfor %}
  </ul>
</div>

{% endblock %}
